git+https://github.com/Farama-Foundation/d4rl@master#egg=d4rl
cython==0.29.33
imageio[ffmpeg]==2.34.1
numpy==1.23.1
pandas==2.2.2
patchelf==0.17.2.1
pre-commit==3.3.3
pyrallis==0.3.1
ruff==0.0.278
torch==2.3.1
tqdm==4.66.3
wandb==0.13.10